.container{
    margin-top:100px;
}

td {
    height: 100px;
    background: white;
}
.search{
    margin-bottom: 15px; 
    margin-left: 200px;
}

.filter-autore{
    margin-left: 10px;
}
.filter-casa-editrice{
    margin-left: 10px;
}
.filter-genere{
    margin-left: 15px;
}