.login-left{
  margin-top: 300px;
}
.login-form{
  margin-top: 200px;
  padding-right: 150px;
  padding-left: 50px;
}

.registration-form {
  margin-top: 60px;
  padding-right: 150px;
  padding-left: 50px;
}

.no-account, .member-already {
  margin-top: 15px;
}

body {
  font-family: "EB Garamond", sans-serif;
  background: #261447 !important;
  color: aliceblue !important;
}

hr {
  border-color: aliceblue;
}

.navbar {
  background-color: #FBD995 !important;
}

.header {
  background-size: cover;
  text-align: center;
  padding-top: 50px;
}

.jumbotron {
  color: black !important;
  background: #E7B756 !important;
  margin-top: 150px;
}

.error {
  color: red;
}

.modal {
  color: black;
}

@media only screen and (max-width: 1025px) { 
  .container.loginResponsive{
    margin-top: 85px !important;
  }
}

@media (max-width: 500px) {
  .login-form{
    margin-top: 20px !important;
  }
  .login-left{
    margin-top: 30px !important;
  }
  .form-group{
    width: 250px;
  }
  .legend-id{
    align-items: center
  }
 }
  